#page_1 {position:relative; overflow: hidden;margin: 42px 0px 56px 48px;padding: 0px;border: none;width: 768px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 195px;padding: 0px;border:none;width: 573px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 25px 0px 0px 0px;padding: 0px;border:none;width: 768px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 432px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 4px 0px 0px 48px;padding: 0px;border:none;width: 288px;overflow: hidden;}





.ft0{font: bold 24px 'Corbel';color: #00000a;line-height: 24px;}
.ft1{font: bold 13px 'Gadugi';line-height: 17px;}
.ft2{font: 13px 'Gadugi';color: #00000a;line-height: 16px;}
.ft3{font: bold 13px 'Corbel';color: #00000a;line-height: 15px;}
.ft4{font: 1px 'Gadugi';line-height: 1px;}
.ft5{font: bold 13px 'Gadugi';color: #333333;line-height: 17px;}
.ft6{font: 13px 'Gadugi';color: #333333;line-height: 16px;}
.ft7{font: italic 13px 'Gadugi';color: #333333;line-height: 16px;}
.ft8{font: 11px 'Times New Roman';color: #333333;line-height: 14px;}
.ft9{font: 13px 'Gadugi';color: #333333;margin-left: 10px;line-height: 20px;}
.ft10{font: 13px 'Gadugi';color: #333333;line-height: 20px;}
.ft11{font: 13px 'Gadugi';color: #333333;margin-left: 10px;line-height: 19px;}
.ft12{font: 13px 'Gadugi';color: #333333;line-height: 19px;}
.ft13{font: 13px 'Gadugi';color: #333333;margin-left: 10px;line-height: 21px;}
.ft14{font: 13px 'Gadugi';color: #333333;line-height: 21px;}
.ft15{font: bold 13px 'Gadugi';color: #00000a;line-height: 17px;}
.ft16{font: italic 13px 'Gadugi';color: #333333;line-height: 21px;}
.ft17{font: italic 13px 'Gadugi';color: #333333;line-height: 20px;}
.ft18{font: bold 13px 'Corbel';color: #333333;line-height: 15px;}

.p0{text-align: left;padding-left: 96px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 60px;margin-top: 5px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 23px;margin-top: 4px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 3px;margin-bottom: 0px;}
.p4{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;padding-left: 29px;padding-right: 55px;margin-top: 3px;margin-bottom: 0px;text-indent: -15px;}
.p6{text-align: left;padding-left: 29px;padding-right: 32px;margin-top: 2px;margin-bottom: 0px;text-indent: -15px;}
.p7{text-align: left;padding-left: 29px;padding-right: 48px;margin-top: 2px;margin-bottom: 0px;text-indent: -15px;}
.p8{text-align: left;padding-left: 29px;padding-right: 34px;margin-top: 3px;margin-bottom: 0px;text-indent: -15px;}
.p9{text-align: left;padding-left: 29px;padding-right: 41px;margin-top: 4px;margin-bottom: 0px;text-indent: -15px;}
.p10{text-align: left;padding-left: 29px;padding-right: 21px;margin-top: 1px;margin-bottom: 0px;text-indent: -15px;}
.p11{text-align: left;padding-left: 29px;padding-right: 33px;margin-top: 2px;margin-bottom: 0px;text-indent: -15px;}
.p12{text-align: left;padding-left: 29px;padding-right: 22px;margin-top: 2px;margin-bottom: 0px;text-indent: -15px;}
.p13{text-align: left;padding-left: 29px;padding-right: 26px;margin-top: 2px;margin-bottom: 0px;text-indent: -15px;}
.p14{text-align: left;padding-left: 29px;padding-right: 61px;margin-top: 5px;margin-bottom: 0px;text-indent: -15px;}
.p15{text-align: left;padding-left: 29px;padding-right: 62px;margin-top: 1px;margin-bottom: 0px;text-indent: -15px;}
.p16{text-align: left;padding-left: 29px;padding-right: 28px;margin-top: 2px;margin-bottom: 0px;text-indent: -15px;}
.p17{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p18{text-align: left;margin-top: 22px;margin-bottom: 0px;}
.p19{text-align: left;padding-right: 48px;margin-top: 4px;margin-bottom: 0px;}
.p20{text-align: left;padding-right: 75px;margin-top: 19px;margin-bottom: 0px;}
.p21{text-align: left;padding-right: 58px;margin-top: 19px;margin-bottom: 0px;}
.p22{text-align: left;margin-top: 5px;margin-bottom: 0px;}
.p23{text-align: left;margin-top: 4px;margin-bottom: 0px;}
.p24{text-align: left;padding-right: 67px;margin-top: 26px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 350px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 81px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 379px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 53px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 132px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 105px;vertical-align: bottom;}

.tr0{height: 17px;}
.tr1{height: 41px;}
.tr2{height: 21px;}
.tr3{height: 19px;}
.tr4{height: 20px;}
.tr5{height: 40px;}
.tr6{height: 42px;}
.tr7{height: 44px;}

.t0{width: 431px;font: 13px 'Gadugi';color: #333333;}
.t1{width: 431px;margin-top: 18px;font: 13px 'Gadugi';color: #333333;}
.t2{width: 432px;margin-top: 21px;font: 13px 'Gadugi';color: #333333;}
.t3{width: 237px;margin-top: 27px;font: italic 13px 'Gadugi';color: #333333;}