<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.name }}</title>

    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png" type="image/png" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <script src="{{ site.baseurl }}/js/darkmode.js"></script>
  </head>

  <body class="site">
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          {% include svg-logo.html %}
          
          <div class="site-info">
            <h1 class="site-name">
              <a href="{{ site.baseurl }}/">{{ site.name }}</a>
              <span class="toggle">
                                            <button
            id="theme-toggle"
            class="theme-toggle"
            aria-label="Switch to dark mode"
            title="Toggle dark mode">
            <svg class="theme-toggle__sun" viewBox="0 0 24 24" width="20" height="20" aria-hidden="true">
              <path d="M12 17.5a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm0 1.5a7 7 0 1 1 0-14 7 7 0 0 1 0 14zm0-17V.5m0 23v-1.5M4.22 4.22l-1.06-1.06m17.68 17.68-1.06-1.06M1 12h1.5m20 0H24m-4.22-7.78 1.06-1.06M4.22 19.78l-1.06 1.06"/>
            </svg>
            <svg class="theme-toggle__moon" viewBox="0 0 24 24" width="20" height="20" aria-hidden="true">
              <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/>
            </svg>
          </button>
        </span>
            </h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
          
          <nav>
            <a href="{{ site.baseurl }}/">Homebase</a>
            <a href="{{ site.baseurl }}/eso-calculators">Surprise</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="wrapper-main" role="main" class="container site-content">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
