---
layout: default
---

<div class="image-post flex-grow">
    <div class="flex-start {{ page.mode }}">
        <div class="img museum-piece">
            {%- if page.type == "image" -%}
            <img src="{{ page.image }}" alt="{{ page.description }}"/>
            {%- else -%}
            {% assign path = page.image | replace: "images/fullsize", "docs" | split: "." | first | append: ".pdf" %}
            {% assign iframe_source = "https://docs.google.com/gview?url=" | append: site.url | append: path | append: "&embedded=true" %}
            {% assign link_source = "https://docs.google.com/viewerng/viewer?url=" | append: site.url | append: path %}
            <p>PDF not loading? Click <a href="{{ link_source }}" target="_blank">here</a> to view it in a separate page!</p>
            <iframe src="{{ iframe_source }}" frameborder="0" title="{{ page.title }}"></iframe>
            {%- endif -%}
        </div>
        <div class="text museum-plaque">
            <div class="post-title">
                <h1>"{{ page.title }}"</h1>
            </div>
            <div class="entry">
                <p class="year">{{ page.year }}</p>
                <p class="medium">{{ page.medium }}</p>
                <div class="entry-description">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-nav">
    {% if page.previous.url -%}
    <div class="prev"><a title="Previous" href="{{page.previous.url}}"><i class="nav-icon arrow-left"></i></a></div>
    {%- else -%}
    <div class="prev">&nbsp;</div>
    {% endif %}
    <div class="home">
        <input type="checkbox" name="toggle" id="toggle" />
        <label for="toggle"><i class="nav-icon menu"></i></label>
        <nav class="sidebar">
            <ul class="sidebar-portfoliolist">
                {% for p in site.portfolio -%}
                <li class="{% if p.url == page.url %}current{% endif %}">
                    <a title="{{ p.title }}" href="{{ site.baseurl }}{{ p.url }}">
                        <img class="lazyload" src="{{ p.image | replace: 'fullsize', 'thumbs-min' | split: '.' | first | append: '-min.jpg' }}"
                             data-src="{{ p.image | replace: 'fullsize', 'thumbs' | split: '.' | join: '-thumb.' }}" alt="{{ p.description }}"/>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    {% if page.next.url -%}
    <div class="next"><a title="Next" href="{{page.next.url}}"><i class="nav-icon arrow-right"></i></a></div>
    {%- else -%}
    <div class="next">&nbsp;</div>
    {% endif %}
</div>